.sidebar {
  display: flex;
  width: 300px;
  min-height: 0;
  flex-direction: column;
  flex: 0 0 300px;
  gap: 10px;
  border-right: 1px solid var(--color-border);
  padding: 10px;
  background: var(--background-dark);
}

.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.sidebarHeader > h2 {
  margin-right: auto;
}

.title {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
