:root {
  --background: #fbfbfb;
  --background-dark: #ebebeb;
  --foreground: #414141;
  --main-dark: #00b400;
  --main-light: #91e451;
  --folder: #e4ac10;
  --gray: #c9c9c9;

  --tab-bg: #f4f4f4;
  --tab-active-bg: #fbfbfb;
  --tab-hover-bg: #e8e8e8;
  --tab-border: #dddddd;
  --tab-modified: #0078d7;
}

p {
  font-family: 'Rounded Mplus 1c';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--foreground);
}
