.root {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  height: 100%;
  color: var(--foreground);
  background: var(--background);
}

.paneResizer {
  flex: 0 0 5px;
  cursor: col-resize;
  background: var(--gray);
  transition: background-color 0.2s ease;
}

.paneResizer:hover,
.paneResizer:active {
  background: var(--main-dark);
}
